<body> 
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th title="Field #1"></th>
            <th title="Field #2">summary</th>
            <th title="Field #3">param/</th>
            <th title="Field #4">param/0/</th>
            <th title="Field #5">param/1/</th>
            <th title="Field #6">param/2/</th>
            <th title="Field #7">returns</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>F:ClinicalCodeWebApplication.Controllers.HomeController.databaseconnection</td>
            <td>Database connection.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.HomeController.Index</td>
            <td>Generates landing page.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.HomeController.Revenue</td>
            <td>Generates Claim Revenue Chart if user is logged in.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.HomeController.Reports</td>
            <td>Generates reports page if user is logged in.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.HomeController.About</td>
            <td>Generates About Page.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.HomeController.Privacy</td>
            <td>Generates Privacy Policy.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.HomeController.UploadFile(Microsoft.AspNetCore.Http.IFormFile)</td>
            <td>Uploads CSV file to database.<br />                Then call K-Means Analysis.<br />                Redirects to cluster graph.</td>
            <td>file</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.HomeController.Analytics(System.Double[][],System.Double[][],System.Int32[])</td>
            <td>Takes in graph parameters, outputs scatter graph<br />                and table of information, if user is logged in.</td>
            <td> </td>
            <td>data</td>
            <td>centroids</td>
            <td>series</td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.HomeController.Error</td>
            <td>Generates custom error: 404 page.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>F:ClinicalCodeWebApplication.Controllers.TestController.databaseconnection</td>
            <td>Database connection.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.TestController.Index</td>
            <td>Generates landing page.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.TestController.Revenue</td>
            <td>Generates Claim Revenue Chart if user is logged in.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.TestController.Reports</td>
            <td>Generates reports page if user is logged in.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.TestController.About</td>
            <td>Generates About Page.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.TestController.Privacy</td>
            <td>Generates Privacy Policy.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.TestController.UploadFile(Microsoft.AspNetCore.Http.IFormFile)</td>
            <td>Uploads CSV file to database.<br />                Then call K-Means Analysis.<br />                Redirects to cluster graph.</td>
            <td>file</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.TestController.Analytics(System.Double[][],System.Double[][],System.Int32[])</td>
            <td>Takes in graph parameters, outputs scatter graph<br />                and table of information, if user is logged in.</td>
            <td> </td>
            <td>data</td>
            <td>centroids</td>
            <td>series</td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Controllers.TestController.Error</td>
            <td>Generates custom error: 404 page.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>T:ClinicalCodeWebApplication.Models.Algorithms.RunKMeans</td>
            <td>Runs the K-Means Algorithms on dataset.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>F:ClinicalCodeWebApplication.Models.Algorithms.RunKMeans.membership</td>
            <td>Goal of this program is to return membership variable.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Models.Algorithms.RunKMeans.#ctor(System.Int32,System.Double[][])</td>
            <td>Controller.<br />                Takes in dataset and intializes variables.</td>
            <td>dataset</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Models.Algorithms.RunKMeans.KMeans</td>
            <td>Controls the K-Means loop.</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Models.Algorithms.RunKMeans.InitializeCentroidMeans(System.Int32)</td>
            <td>Randomly assign mean to centroids by assigning to random centroid</td>
            <td>k</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Models.Algorithms.RunKMeans.UpdateMembership</td>
            <td>Assigns membership to closest centroid</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>returns true if any points change membership</td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Models.Algorithms.RunKMeans.TotalWithinSumofSquares</td>
            <td>Total Variance Within Clusters Sum of Squares</td>
            <td>k</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>returns distortion calculation.</td>
        </tr>
        <tr>
            <td>M:ClinicalCodeWebApplication.Models.Algorithms.RunKMeans.Distance(System.Double[],System.Double[])</td>
            <td>Euclidean Distance between two points.</td>
            <td> </td>
            <td>point1</td>
            <td>centroid</td>
            <td> </td>
            <td>returns sum of squared difference</td>
        </tr>
    </tbody>
</table>
</body>